

.gallery {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 24px;
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    margin: 24px 0px;

}


.gallery-image {
    display: block;
    width: 360px;
    height: 200px;

}